TESTER_API_KEY=abc123
debug=1

# database variables
# if the below variables are not provided
# the database will default to sqlite3

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
DB_HOST=database
DB_PORT=5432
