TESTER_API_KEY=abc123

# Remove the debug variable in production
debug=1

# database variables
# if the below variables are not provided
# the database will default to sqlite3

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=gita_db

# DB_HOST is the HOST address
# in docker-compose it refers to the service name
DB_HOST=database
DB_PORT=5432
