.vscode
venv
config.env
.env
__pycache__/
*.pyo
*.pyc
!**/__pycache__/
../.idea
.ipynb_checkpoints
.mypy_cache
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.DS_Store